@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Reset Styles */
div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variables */
$primaryColor: #71DED4;
$headingColor: black;
$formColor: #E8E8E8;
html {
	background: $primaryColor;
}
body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
}

/* Component Styles */
.cash-calc {
	max-width: 1120px;
	margin: 2em auto;
	padding: 2em;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	&__header {
		text-align: center;
	}
	&__heading {
		color: $headingColor;
		font-size: 2rem;
	}
	&__description {
		font-size: 1.2rem;
	}
	&__form-container {
		// border: 1px solid blue;
		// max-width: 1120px;
		// margin: 0 auto;
		background: $formColor;
	} 
	&__form-item {
		display: block;
		font-weight: bolder;
		margin-bottom: .5em;
	}
}
.cash-calc__inputs-results-wrapper {
	display: flex;
	flex-direction: column;
}

// .cash-calc__form-container {
// 	border: 1px solid blue;
// }

// .cash-calc__form-item {
// 	display: block;
// }

.cash-calc__input-section {
	margin: .5em 0 1.25em .5em;
}

.cash-calc__input-section:first-child {
	margin-top: 1em;
}

.cash-calc__results {
	border: 1px solid green;
	text-align: center;
}

.cash-calc__submit-container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}


@media screen and (min-width: 780px) {
	.cash-calc__inputs-results-wrapper {
		flex-direction: row;
	}
	.cash-calc__form-block {
		flex: 1;
	}
}