// @import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Nunito');

/* Reset Styles */
div,
form,
body,
html,
span,
p,
h1 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Variables */
$primaryColor: #35D8C5;
$secondaryColor: #F05F6E;
$headingColor: darken($primaryColor, 30%);
// $headingColor: #626363;
$formColor: white;
$gray: #E0E0E0;
$green: #1B891F;

html {
	background: $primaryColor;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
}

/* Component Styles */
.cash-calc {
	max-width: 960px;
	padding: 1em 0 2em 0;
	background: #fff;
	margin: 1em auto 1em auto;
	line-height: 1.2;
	width: 100%;
	@media screen and (min-width: 780px) {
		margin: 2em auto;
		border-radius: 5px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		padding: 1em 2em 2em;
		width: 90%;
	}
	&__header {
		text-align: center;
	}
	&__heading {
		color: $headingColor;
		font-size: 2rem;
		margin: .5em 0 .25em 0;
	}
	&__description {
		font-size: 1.2rem;
		margin-bottom: 2em;
	}
	&__form-container {
		background: $formColor;
	}
	&__form-block {
		&:last-child {
			border-left: 1px solid $gray;
		}
		@media screen and (min-width: 780px) {
			flex: 1;
		}
	}
	&__form-item {
		display: block;
		margin-bottom: .5em;
	}
	&__form-label {
		font-weight: bolder;
		font-size: 1.5rem;
		color: $secondaryColor;
		text-indent: 10px;
	}
	&__form-select,
	&__form-input {
		width: 95%;
		margin: 0 auto;
		font-size: 1.5rem;
		font-family: 'Nunito', sans-serif;
		@media screen and (min-width: 780px) {
			width: 75%;
			margin: unset;
		}
	}
	&__form-select {
		height: 50px;
    padding: 15px;
		background: none;
		border-color: $gray;
		text-indent: 5px;
	}
	&__form-input {
		border: none;
		border-bottom: 1px solid $gray;
		text-indent: 10px;
	}
	&__image {
		max-width: 300px;
	}
	&__inputs-results-wrapper {
		display: flex;
		flex-direction: column;
		margin-bottom: 2em;
		@media screen and (min-width: 780px) {
			flex-direction: row;
		}
	}
	&__results {
		text-align: center;
	}
	&__input-section {
		margin: 0 0 .5em 0;
		@media screen and (min-width: 780px) {
			margin: .5em 0 1.25em .5em;
		}
	}
	&__submit-container {
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}
	&__submit-btn {
		font-family: 'Nunito', sans-serif;
		font-size: 2rem;
    min-width: 25%;
    height: 50px;
    background: darken($primaryColor, 8%);
    color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			background: darken($primaryColor, 10%);
		}
		&:active {
			background: darken($primaryColor, 18%);
		}
	}
	&__cash-back-text {
		@extend .cash-calc__form-label;
		color: darken($headingColor, 25%);
		font-size: 1.8rem;
		font-weight: bolder;
		margin: 0;
	}
	&__cash-back-value {
		font-size: 4rem;
		font-weight: bolder;
		color: $green;
	}
}